BODY {
	background-color: #000000; /*#5F0013*/
	color: gray;
	font-family: sans-serif;
	margin: 0px;
}

H1, H2, H3, LI, P, SPAN, UL {
	margin: 0px;
	padding: 0px;
}

.end {
	clear: left;
}

#page {
	background-color: #49000E;
	position: absolute;
	left: 10%;
	top: 0px;
	width: 80%;
}

#page p {
	margin: 1em;
}

#intro {
	/* 	background: transparent url(header.jpg) no-repeat; */
	color: white;
	font-size: 30px;
	font-weight: bold;
	/* 	height: 300px; */

	/* 	width: 750px; */
}

#intro img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#intro H1 {
	position: absolute;
	color: #3996D6;
	font-size: 25px;
	font-weight: normal;
	left: 520px;
	top: 10px;
	font-family: Georgia;
	background-color: #3C010D;
}

#menu {
	width: 100%;
	background: #49000E;
	height: 17px;
	margin-right: auto;
	margin-left: auto;
}

#menu A {
	display: block;
	border-right: 2px solid black;
	color: gray;
	font-size: 35px;
	font-weight: bold;
	float: left;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
}

#menu A:hover {
	background-color: gray;
	color: #90001C;
	border-radius: 5px;
}

#content {
	font-size: 18px;
	padding: 10px 0px 20px 0px;
}

#content H1 {
	font-size: 22px;
	border-bottom: 1px solid #4f4f4f;
	padding: 10px 0px 0px 0px;
}

#text {
	float: center;
	margin: 0px 20px 0px 0px;
	padding: 0px 20px 0px 0px;
	width: 100%;
}

#footer {
	background-color: #C50027;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 0px;
	text-align: center;
}

#footer A {
	color: #aaaaaa;
	text-decoration: none;
}

#footer A:hover {
	color: white;
	letter-spacing: 2px;
}

a {
	color: #3996D6;
	text-decoration: underline;
}

a:hover {
	color: #3996D6;
	text-decoration: none;
	background: #fff;
}